@media (max-width: 768px) {
    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #202024;
    }
    
    .navMenu ul {
        flex-direction: column;
        margin: 0;
    }
    .logo{
        width: 100px;
    }
    .logo img{
        width: 100px;
    }
    .hamburger {
        display: block;
    }
  }