@media screen and (max-width: 728px){
    h2{
        width: 719px;
    }
    body{
        overflow-x: hidden;
    }
    .body img{
        width: 720px;
        height: 400px;
        border-top: 14px solid #fff;
    }
    header{
        width: 100%;
    }
    .body img{
        width: 100%;
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .events{
        display: flex;
        width: auto;
    }
    h2:first-of-type{
        color: white;
    }
    .forecast{
        text-align: center;
    }
    .weather{
        display: grid;
        grid-template-columns: rows;
    }
    .forecast{
        display: flex;
        flex-direction: column;
    }
    .bus{
        display: flex;
        flex-direction: column;
    }
    .bus-name{
        width: 100%;
    }
    .bus-info{
        align-items: center;
    }
    .weather-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bus img{
        width: 90px;
        height: 90px;
    }
    .main{
        width: 100%;
        
    }
    .weather-info img{
        align-self: center;
        width: 60px;
        height: 60px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar{
        position: fixed;
        background-color: #f539c6;
        width: 100%;
    }
	.hamburger{
		display: block;
	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		Transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu{
		position: absolute;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #242323;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item{
		margin: 6px 0;
	}
	.nav-menu.active{
		left: 0;
	}
    .media-links{
        display: grid;
        grid-template-columns: 30px 30px 30px;
        gap: 20px;
    }
}