/* Mobile Responsive */
@media screen and (max-width: 668px){
	.main {
		width: 648px;
	}
	.content{
		width: 648px;
	}
    .event{
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: 100%;
    }
	.cta-button {
        padding: 12px 24px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */
        width: 100%; /* Full width on mobile */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
    }
}
