@media screen and (max-width: 768px) {
    /* Your CSS styles for screens 720px or smaller go here */ 
    .burger{
        display: block;

    }
    .burger.active .line:nth-child(2){
        opacity: 0;
    }
    .burger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    body{
        font-size: 14px;
        width: 620px;
        display: grid;
        color: navy;
        background: #fff;
        margin: 0 auto;
        padding: 5px;
    }
    .nav-bar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #252525;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-bar.active{
        left:0;
    }
    .item{
        margin: 15px;
    }

    .first{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid green;
    }
    .location img{
        margin-top: 10px;
        width: 200px;
        height: 200px;
        right: 10px;
    }
    .location{
        margin: 10px;
        width: auto;
        align-items: center;
    }
}